---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Over mij"
>
	<p>
		Van jongsaf was ik bevoordeeld dat mijn ouders een computer nodig hadden voor de administratie van hun bedrijf. 
		Geïntrigeerd door deze zwarte door in de leefruimte begon ik al snel te experimenteren met de computer, wat leidde tot een passie.
		Mijn ontdekkingstochten veroorzaakten al eens technische problemen, maar dat creëerde voor mij kansen om te leren wat heeft bijgedragen aan mijn probleemoplossende mindset.
	</p>
</Layout>
